.construction-hero {
    position: relative;
    height: 933px;
}

#construction-hero-background {
    position: absolute;
    width: 600px;
    height: 770px;
    top: 30px;
    right: -100px;
    z-index: -1;
}

.construction-hero-header {
    margin: 118px 0 0 20px;
    max-width: 681px;
    max-height: 624px;
}

.construction-hero-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 64px;
  color: #313131;
  letter-spacing: -0.04em;
  line-height: 120%;
}

.construction-hero-header span {
    color: #18A7B9;
}

.construction-hero-header p {
    width: 541px;
    padding: 40px 0;
    font-size: 18px;
    line-height: 28px;
    color: #6B6B6B;
}

.construction-hero-header-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.construction-hero-stats {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 20px;
    padding: 90px 0;
    width: 562px;
    height: 103px;
}

.construction-hero-stats h2 {
    font-weight: 500;
    font-size: 40px;
    color: #313131;
}

.construction-hero-stats p {
    font-size: 20px;
    color: #6B6B6B;
}